@font-face {
	font-family: "Museo-Sans-Cyr";
	src: url(../Museo-Sans-Cyr/Museo-Sans-Cyr/MuseoSansCyrl.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Museo-Sans-Cyr";
	src: url(../Museo-Sans-Cyr/Museo-Sans-Cyr/MuseoSansCyrl_0.otf);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Museo-Sans-Cyr";
	src: url(../Museo-Sans-Cyr/Museo-Sans-Cyr/MuseoSansCyrl_1.otf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Museo-Sans-Cyr";
	src: url(../Museo-Sans-Cyr/Museo-Sans-Cyr/MuseoSansCyrl_2.otf);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Museo-Sans-Cyr";
	src: url(../Museo-Sans-Cyr/Museo-Sans-Cyr/MuseoSansCyrl_3.otf);
	font-style: normal;
	font-weight: 900;
}

* {
	font-family: "Museo-Sans-Cyr";
}

.container>.row {
	margin: 0;
}

.main-width {
	max-width: 1160px;
	padding-left: 15px;
	padding-right: 15px;
}

/* h e a d e r */
header {
	background-color: #3d81aa;
    background: linear-gradient(#3d7aa0, #3e89b7);
	height: 98px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	overflow: visible;
}

a, a:visited,
header ul.nav li label {
	color: #fff;
	cursor: pointer;
}
a:hover {	text-decoration: none;}

header ul.nav a:hover,
header ul.nav li label:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: #367296;
}
ul.nav {padding-right: 0;}
ul.nav li {
	margin-right: 15px;
}
ul.nav li {
	line-height: 38px;
	font-family: "Museo-Sans-Cyr";
	font-weight: 500;
}

ul.nav li h3 {
	margin-bottom: 0;
	font-weight: 900;
}

.right ul {
	margin-right: 60px;
}

header ul,
header ul.nav li,
header ul.nav li a,
header ul.nav li label,
header ul.nav li h3 a {
	display: inline-block;
	height: 98px;
	line-height: 98px;
	margin: 0;
}
header ul.nav li a,
header ul.nav li label {
	padding-left: 8px;
	padding-right: 8px;
}

#language,
#notice {z-index: 999;}

#language,
#notice,
#for-language {display: none;}
#for-language:checked ~ #language,
#for-notice:hover ~ #notice {
	display: block;
	position: absolute;
	top: 104px;
	background-color: #fff;
	box-shadow: 0 -1px 6px 0 rgba(0,0,0,.2);
	width: 80px;
	line-height: 26px;

	padding-top: 16px;
	padding-bottom: 16px;

	border-radius: 6px;
}

li#for-notice:hover ~ #notice {
	width: 370px;
	padding-left: 26px;
	padding-right: 26px;
}
#notice .row {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#notice .underline {
	background-color: rgba(0,0,0, .1);
	height: 1px;
	margin: 0;
}
#notice .content { height: 50px; }

#language ul,
#language ul li {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
	line-height: 26px;
	opacity: .8;
}
#language:after,
#notice:after {
	content: "";
	display: block;
	
	position: absolute;
	left: 34px;
	top: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 8px solid #fff;
}

#notice:after { left: 71px; }

#language ul li:hover {
	cursor: pointer;
	background-color: #eaf1f5;
}

#language ul li {
	width: 100%;
	height: auto;
	line-height: 26px;
	padding-left: 18px;
	padding-right: 18px;
}
.avatar	{
	position: absolute;
	top: 18px;
	right: 0;

	width: 60px;
	height: 60px;

	border-radius: 50%;
	background-color: #000;

	background-image: url(../img/190609.png);
	background-position: center;
	background-size: 101%;

	border: 2px solid #3d87b4;
}

.avatar>span {
	text-align: center;
	line-height: 27px;
	position: absolute;
	font-weight: 500;
	font-size: 14px;	
	width: 30px;
	height: 30px;
	border-radius: 50%;
	top: -6px;
	right: -6px;
	background-color: #eaf1f5;
	color: #3d87b4;
	border: 2px solid #3d87b4;
}

/* m a i n */

main {
	padding-top: 42px;
	background-color: #fafafa;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.row .entry {
	width: 530px;
	padding-bottom: 70px;
}
.entry {
	width: 530px;
	padding-bottom: 10px;
}

#mobile-menu,
[for="mobile-menu"] {display: none;}

@media (max-width: 1148px) {
	.row .entry {width: 46%;}
}

@media (max-width: 1040px) and (min-width: 850px) {
	#comments:checked ~ .row .entry .pre-nav {padding: 0 20px;}

	ul.nav.justify-content-between label.radio li {padding: 5px 10px;}
}
@media (max-width: 850px) {
	.avatar {display: none;}
	#mobile-menu:checked ~ .right .avatar {
		display: block;
		position: relative;
		margin-top: -10px;
		margin-left: 10px;
		margin-bottom: 20px;
		width: 50px;
		height: 50px;
	}
	#mobile-menu:checked ~ .right .avatar>span {
		width: 24px;
		height: 24px;
		line-height: 22px;
	}
	li#for-notice:hover ~ #notice {
		width: 200px;
		padding: 12px;
		top: 244px;
		left: -61px;
	}
	#for-language:checked ~ #language {
		height: 108px;
		top: 138px;
		left: 12px;
	}

	#for-language:checked ~ #language * { color: #000; }
	[for="mobile-menu"] {
		display: block;
		cursor: pointer;
		color: #fff;
		height: 98px;
		line-height: 98px;
		padding-right: 18px;
		padding-left: 18px;
		margin-bottom: 0;
		text-align: center;
	}

	.right ul.nav {display: none;}
	#mobile-menu:checked ~ .right {
		display: block;
		position: fixed;
		height: 100%;
		width: 180px;
		top: 0;
		right: 0;
		background-color: #fff;
		z-index: 99;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
	}

	#mobile-menu:checked ~ .right ul.nav {
		display: block;
		margin: 0;
	}
	#mobile-menu:checked ~ .right ul.nav li>*,
	#mobile-menu:checked ~ .right [for="mobile-menu"] { color: #3c7ba2;	}

	#mobile-menu:checked ~ .right ul.nav li,
	#mobile-menu:checked ~ .right ul.nav li>*,
	#mobile-menu:checked ~ .right ul.nav {
		line-height: 40px;
		height: 40px;
		width: 100%;

	}
	#mobile-menu:checked ~ .right ul.nav li:hover * { color: #fff; }

	.right ul.nav #for-language:checked ~ [for="for-language"] {
		background-color: #3c7ba2;
		color: #fff;
	}
	#for-language:checked ~ [for="for-language"] * {color: #fff;}
	
	.row .entry {width: 80%;}

	main>div>div.row.justify-content-between {
	    -webkit-box-pack: justify!important;
   	 	-ms-flex-pack: justify!important;
    	justify-content: center!important;
	}

	.between-comments {
		position: absolute;
		margin-top: -40px;
	}

	.blocks,
	.blocks>row {padding: 0;}
}

@media (max-width: 780px) {
	ul.categories label.radio,
	ul.subcat label.sub-radio { 
		width: 51%;
		display: block;
		margin: 0px;
		text-align: center;
		font-size: .95em;
	}
	ul.subcat label.sub-radio {margin: 5px;}

	ul.subcat li.line { display: none; }

	.blocks>.row {	    
		-webkit-box-pack: justify!important;
   	 	-ms-flex-pack: justify!important;
    	justify-content: center!important;
    }
}
@media (max-width: 590px) {
	.row .entry {width: 95%;}
	* {	font-size: .98em;}
	
	ul.nav li {line-height: 30px;}
	.pre-nav ul.nav li {
		line-height: 45px;
		height: 45px;
	}

	.entry .comment { padding: 10px 30px 10px 50px;}
	.entry .comment-avatar {
		width: 25px;
		height: 25px;
		left: 15px;
		top: 15px;
	}

	.entry div.yellow,
	.entry div.green {
		padding: 1px 4px;
	}
	.entry .comment .right-arrow {top: 18px;}

	ul.categories label.radio,
	ul.subcat label.sub-radio { width: 60%;	}
}

@media (max-width: 460px) {
	.entry * {font-size: .9em;}
	.entry .pre-nav {padding: 0 20px;}
	.entry {width: 98%;}

	.entry div.yellow,
	.entry div.green {
		right: 30px;
	}
	.entry .comment .right-arrow {right: 14px;}
	ul.nav.justify-content-between label.radio li {padding: 5px 10px;}


	ul.categories label.radio,
	ul.subcat label.sub-radio { width: 80%;	}
}

[type="radio"] {
	display: none;
}
label.radio {
	margin-bottom: 0;
	cursor: pointer;
}
label.radio li {
	padding: 5px 20px;
	margin-right: 0;
	opacity: .7;
}
label.radio:hover li {
	opacity: 1;
}

.row [type="radio"]:checked + label.radio li,
#comments:checked ~ .row .head>ul.nav [type="radio"]:checked + label.radio li {
	z-index: 999;
	border-bottom: 2px solid #3c7ba2;
	color: #3c7ba2;
	opacity: 1;
	font-weight: 500;
}


#comments ~ .row .head>ul.nav {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
	border-bottom: none;
	border-radius: 0 0 6px 6px;
}

#comments ~ .row .head>ul.nav [type="radio"]:checked + label.radio li {
	color: #000;
	border-bottom: 0;
}
#comments:checked ~ .row .head>ul.nav {
	background-color: #fafafa;
	box-shadow: none;
}



.between-comments {
	/*padding-top: 15px;*/
	cursor: pointer;
	padding: 15px;
	display: inline-block;
	width: 40px;
	max-height: 50px;
	opacity: .7;
	margin-bottom: 0;
}
.between-comments:before {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.between-comments:hover {
	opacity: 1;
}

.comments {
	display: none;
	z-index: 1;
	position: relative;
	/*margin-top: -2px;*/
	width: 100%;
	height: 440px;
	border-radius: 0 0 6px 6px;
	background-color: #fff;
	box-shadow: 0 5px 20px -5px rgba(0,0,0,0.3);
	overflow: auto;
}

#comments { display: none; }
#comments:checked ~ .row .comments,
#comments:checked ~ .row .pre-nav {
	display: block;
}

.comment {
	position: relative;
	padding: 30px 80px 30px 90px;
	border-bottom: 1px solid #eaf1f5;
	margin: 0;
	cursor: pointer;
	color: #000;
}

.comment:hover {
	background-color: #eaf1f5;
}

.comment h6 {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 0;
}
.comment span {
	font-weight: 300;
	opacity: .7;
	font-size: 12px;
}

div.yellow,
div.green { 
	padding: 3px 12px; 
	display: inline-block;
	border-radius: 12px;
	position: absolute;
	right: 60px;
	text-align: center;
	min-width: 70px;
}

div.yellow { 
	background-color: #faf6da;
	border: 1px solid #c7ca09;
}

div.green { 
	background-color: #dffada;
	border: 1px solid #29ca09;
}


.yellow span,
.green span {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, .7);
}

.yellow span.yellow { color: #c7ca09; }
.green span.green { color: #29ca09; }

.comment-avatar {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 30px;
	top: 30px;
	margin-right: 20px;
}
.comment .text {
	margin: 0;
	display: inline-block;
	width: calc(100% - 90px);
	color: #000;
}

.text a {
	color: #3c7ba2;
}

.text a span {
	color: #000;
	font-size: 14px;
}

.comment p {
	opacity: .7;
	padding-top: 10px;
	font-weight: 300;
}

.comment .right-arrow {
	position: absolute;
	right: 30px;
	top: 40px;
	opacity: .7;
	cursor: pointer;
	color: #000;
}

/* s c r o l l */
.comments::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: #dddddd;
}

.comments::-webkit-scrollbar
{
	width: 10px;
	background-color: #dddddd;
	border-radius: 0 0 6px 0;
}

.comments::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
	background-color: #909090;
}
/*  e n d  */
.pre-nav {
	display: none;
	background-color: #fff;
	top: 0;
	/*width: 530px;*/
	width: 100%;
	padding: 0 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.pre-nav ul li {
	height: 60px;
	line-height: 60px;
	color: #3c7ba2;
	margin-right: 0;
}

.pre-nav ul li:hover {
	opacity: .6;
	cursor: pointer;
}

.c-2 {
	position: relative;
	height: 380px;
}

/* s u b c a t e g o r i e s */

ul.subcat li {
	padding: 10px 20px;
	font-weight: 300;
	background-color: #f9fbfc;
	margin-right: 0;
	cursor: pointer;
	opacity: 1;
	color: #3c7ba2;
}

ul.subcat li:hover {
	opacity: .7;
}


ul.subcat li.line {
	width: 1px;
	padding: 5px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, .3);
}


[type="radio"]:checked + label.sub-radio li {
	background-color: #eff4f6;
	font-weight: 500;
	border: none;
}

.state {
	margin-top: 30px;
	margin-bottom: 30px;
}

ul.display {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	list-style: none;
	width: 50px;
}

@media (max-width: 800px) {
	ul.display { position: absolute; }
	ul.display ~ p {
		margin-left: 70px;
		margin-bottom: 20px;
	}
}

ul.display li {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #f9fbfc;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #909090;
}

ul.display li:hover {color: #000;}

label.display {
	margin: 0;
	cursor: pointer;
}

#dis-1:checked ~ div .state label[for="dis-1"] li,
#dis-2:checked ~ div .state label[for="dis-2"] li {
	color: #474b4c;
	background-color: #eff4f6;
}

.subcategories p {
	display: inline-block;
	max-width: 650px;
	opacity: .7;
}
.left-describe,
.right-describe {
	display: inline-block;
	vertical-align: middle;
}
.right-describe {
	padding-left: 12px;
	/*max-width: 380px;*/
}

.big-ico {
	line-height: 60px;
	font-size: 50px;
	display: inline-block;
	font-weight: 700;
}

.right-describe .describe {
	display: inline-block;
	margin-left: 10px;
	padding-bottom: 10px;
}
.right-describe .describe h3 {
	margin: 0;
	font-weight: 700;
}
.right-describe .describe span {
	opacity: .7;
	font-weight: 500;
}

.big-ico,
.right-describe .describe h3 {
	color: #3c7ba2;
}


/* t a b l e */
#dis-1:checked ~ .sites-table .table,
#dis-2:checked ~ .sites-table .blocks {
	display: block;
}

.table,
.blocks { 
	display: none; 
	padding-top: 20px;
	padding-bottom: 20px;
}

.blocks.container { max-width: 100%; }

.block {
	display: inline-block;
	width: 350px;
	padding: 26px;

	margin-left: 8px;
	margin-right: 8px;
	
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	margin-bottom: 10px;
}
.block>div {margin: 0;}
.block h6 {display: inline-block;}

.block a {color: #3c7ba2;}

.block p {padding-top: 10px;}

.block a:hover,
.block p,
.block .rate span,
.block .uptime span {opacity: .7;}

.sites-table {
	background-color: #fafafa;
	border-top: 1px solid rgba(0,0,0, .1);
}

.table {
	padding-top: 30px;
	margin-bottom: 100px;
}

.table>div {
	padding-left: 30px;
	padding-right: 30px;
}

.table>div>div {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 15px;
	vertical-align: top;
}

.underline {
	margin-left: 30px;
	margin-right: 30px;
	height: 2px;
	background-color: #3d81aa;
}

.site-table {width: 220px;}
.describe-table {width: 280px;}
.rate-table {width: 110px;}
.claim-table {width: 110px;}
.uptime-table {width: 100px;}
.joy-table {width: 120px;}
.hitness-table {width: 100px;}

@media (max-width: 1200px) {
	.site-table {width: 180px;}
	.describe-table {width: 200px;}
	.rate-table {width: 90px;}
	.claim-table {width: 90px;}
	.uptime-table {width: 70px;}
	.joy-table {width: 68px;}
	.hitness-table {width: 80px;}
}

@media (max-width: 916px) {
	.table * {font-size: 0.95em;}
	.site-table {width: 140px;}
	.describe-table {width: 160px;}
	.rate-table {width: 66px;}
	.claim-table {width: 70px;}
	.uptime-table {width: 52px;}
	.joy-table {width: 56px;}
	.hitness-table {width: 68px;}
}

@media (max-width: 780px) {
	.table * {font-size: 0.9em;}
	.site-table {width: 120px;}
	.describe-table {width: 120px;}
	.rate-table {width: 60px;}
	.claim-table {width: 64px;}
	.uptime-table {width: 50px;}
	.joy-table {width: 50px;}
	.hitness-table {width: 60px;}
}

@media (max-width: 699px) {
	.table {
		overflow-x: scroll;
		/*overflow-y:hidden; */
		padding: 0;
	}
	.table>div {
		min-width: 624px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

/* s c r o l l */
.table::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: #dddddd;
}

.table::-webkit-scrollbar
{
	height: 10px;
	background-color: #dddddd;
	border-radius: 0 0 6px 0;
}

.table::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
	background-color: #909090;
}


.table a {color: #3c7ba2;}
.table a:hover {opacity: .7;}

.table span,
.table p {
	margin-bottom: 0;
	color: rgba(0,0,0, .6);
}

.table .red,
.block .red { color: #ca3509; }

.table .green,
.block .green { color: #3fcd27; }

.table .yellow,
.block .yellow { color: #e8d50d; }


.red-comment { background-color:  #f5e6e1; }
.yellow-comment { background-color: #f5f5e1; }
.green-comment { background-color: #e1f7e2; }

.describe-table input[type="checkbox"] { display: none; }

.describe-table input[type="checkbox"] ~ .spoiler {	display: inline-block; }
.describe-table input[type="checkbox"] ~ .data {	display: none; }

.describe-table input[type="checkbox"]:checked ~ .spoiler {	display: none; }
.describe-table input[type="checkbox"]:checked ~ .data { display: inline-block; }


.spoiler label,
.data label { cursor: pointer; }


	/*#dis-1 + div,
	#dis-2 + div {display: none;}

	#dis-1:checked + div,
	#dis-2:checked + div {display: block;}*/

footer { 
	background-color: #1a2227; 
	color: #fff; 
	vertical-align: middle;
}

footer>div {
	vertical-align: middle;
	padding: 30px;
}

footer h3 { 
	font-weight: 900; 
	font-size: 30px;
}

footer h6 {
	font-weight: 500;
}

footer h3,
footer h6 {
	margin: 0;
	line-height: 30px;
}